x64/
.vs/
.vscode/

*.vcxproj
*.vcxproj.filters

build/

*.sln
lambda-engine.sln
engine/engine.vcxproj
engine/engine.vcxproj.filters
engine/.editorconfig

CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Debug/
Lambda.dir/

Makefile
Lambda
**/.ninja_log
**/.ninja_deps
build.ninja

**/.DS_Store
libpublic.a

patches/